<!--<template>-->
<!--  <div class="home">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light">-->
<!--      <a class="navbar-brand" href="#">MyEducation</a>-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--        </ul>-->
<!--        <ul class="navbar-nav" v-if="user">-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              {{ user.email }}-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--              <span class="dropdown-item" >{{ user.fullName }} </span>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" @click="onClickDisconnect()">Déconnexion</a>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav" v-else>-->
<!--          <router-link class="nav-link" :to="{ name: 'login'}">-->
<!--            Connexion-->
<!--          </router-link>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--    <div v-if="user">-->
<!--      {{ user.fullName }}-->
<!--    </div>-->
<!--    <div v-if="organization">-->
<!--      {{ organization.name }}-->
<!--    </div>-->
<!--    <div v-if="user">-->
<!--      <div v-if="user.type === 'student'">-->
<!--        <router-link :to="{ name: 'student' }">-->
<!--          Espace étudiant-->
<!--        </router-link>-->
<!--      </div>-->
<!--      <div v-if="user.type === 'admin'">-->
<!--        <router-link :to="{ name: 'admin' }">-->

<!--          Espace administrateur-->
<!--        </router-link>-->
<!--      </div>-->
<!--      <div v-if="user.type === 'professor'">-->
<!--        <router-link :to="{ name: 'professor' }">-->
<!--          Espace professeur-->
<!--        </router-link>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</template>-->

<script lang="ts">

export default {
  setup: () => {
    return {}
  }
}

</script>
