<template>
  <div class="row justify-content-center align-items-center" style="height: 100%;">
    <div class="col-sm-4">
      <h4 class="mb-4">{{ organization.name }}</h4>
      <div class="card px-3 pb-1">
        <article class="card-body">
          <h4 class="mb-4">Retrouvez votre compte</h4>
          <template v-if="emailSent">
            <p>Un email contenant un lien que vous pouvez cliquer pour réinitialiser votre mot de passe a été envoyé à {{ form.emailAddress.$model }}. Ce lien expirera dans 2 heures.</p>
            <p>Si vous ne recevez pas de courriel, vérifiez vos spams <a @click="emailSent = false" href="#">ou réessayez</a>.</p>
          </template>
          <template v-else>
            <form @submit.prevent="submit">
              <div class="form-group">

                <label for="emailAddress">Email</label>
                <input
                    id="emailAddress"
                    :placeholder="`@${organization.slug}`"
                    :class="['form-control', { 'is-invalid': form.emailAddress.$error }]"
                    v-model.trim="form.emailAddress.$model" />
                <div
                    v-for="$error in form.emailAddress.$errors"
                    :key="$error.$validator"
                    class="invalid-feedback">{{ $error.$message }}</div>
              </div>
              <div v-if="errorMessage">{{ errorMessage }}</div>
              <button class="btn btn-primary btn-block" type="submit" :disabled="form.$invalid">Réinitialiser le mot de passe</button>
            </form>
          </template>
          <div class="mt-2 text-center">
            <router-link :to="{ name: 'login'}">Connexion</router-link>
          </div>
        </article>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import { ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import {email, required} from "@vuelidate/validators";

import userService from "@/services/userService";
import {useRouter} from "vue-router";
import {useSetCurrentUser} from "@/hooks/useSetCurrentUser";
import {useCurrentOrganization} from "@/hooks/useCurrentOrganization";
import {User} from "@/types";

export default {
  setup: () => {

    const organization = useCurrentOrganization();

    const emailAddress = ref("");
    const emailSent = ref<boolean>(false);
    const errorMessage = ref("");

    const form = useVuelidate({
      emailAddress: { required, email },
    }, {
      emailAddress
    });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          await userService.resetPasswordRequest(emailAddress.value);
          emailSent.value = true;

        } catch (error) {
          errorMessage.value = error.message;
        }
      }
    }

    return {
      organization,
      emailAddress,
      emailSent,
      errorMessage,
      form,
      submit
    };
  }
};
</script>
