<template>
  <div class="row justify-content-center align-items-center" style="height: 100%;">
    <div class="col-sm-4">
      <h4 class="mb-4">{{ organization.name }}</h4>
      <div class="card">
        <article class="card-body">
          <form @submit.prevent="submit">
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input
                  id="password"
                  type="password"
                  :class="['form-control', { 'is-invalid': form.password.$error }]"
                  v-model.trim="form.password.$model"/>
              <div
                  v-for="$error in form.password.$errors"
                  :key="$error.$validator"
                  class="invalid-feedback">{{ $error.$message }}
              </div>
            </div>
            <div class="form-group">
              <label for="repeatedPassword">Répetez votre mot de passe</label>
              <input
                  id="repeatedPassword"
                  type="password"
                  :class="['form-control', { 'is-invalid': form.repeatedPassword.$error }]"
                  v-model.trim="form.repeatedPassword.$model"/>
              <div
                  v-for="$error in form.repeatedPassword.$errors"
                  :key="$error.$validator"
                  class="invalid-feedback">{{ $error.$message }}
              </div>
            </div>
            <div v-if="errorMessage">{{ errorMessage }}</div>
            <button class="btn btn-primary btn-block" type="submit" :disabled="form.$invalid">Réinitialiser le mot de
              passe
            </button>
          </form>

        </article>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import { ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import {email, minLength, required, sameAs} from "@vuelidate/validators";

import userService from "@/services/userService";
import {NavigationGuardNext, useRouter} from "vue-router";
import {useCurrentOrganization} from "@/hooks/useCurrentOrganization";
import {ComponentPublicInstance, RouteLocationNormalized, Teaching, User} from "@/types";
import store from '@/store';
import {notFoundRoute} from "@/helpers";
import router from "@/router";

export default {
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    const resetPasswordToken = store.getters.resetPasswordToken;

    if (null === resetPasswordToken) {
      return next(notFoundRoute(to))
    }

    try {
      await userService.validateResetPasswordToken(resetPasswordToken);
      return next(vm => (vm as ComponentPublicInstance).resetPasswordToken = resetPasswordToken)
    } catch (error) {
      next()
    }
  },
  setup: () => {

    const resetPasswordToken = ref<string>();

    const organization = useCurrentOrganization();

    const password = ref("");
    const repeatedPassword = ref("");

    const errorMessage = ref("");

    const form = useVuelidate({
      password: {
        required,
        minLength: minLength(6)
      },
      repeatedPassword: {
        sameAs: sameAs(password)
      },
    }, {
      password,
      repeatedPassword
    });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const resetPasswordData = {
            plainPassword: password.value,
            repeatedPlainPassword: repeatedPassword.value
          }
          await userService.resetPassword(resetPasswordToken.value as string, resetPasswordData);

          router.push({ name: 'login'})

        } catch (error) {
          errorMessage.value = error.message;
        }
      }
    }

    return {
      organization,
      resetPasswordToken,
      errorMessage,
      form,
      submit
    };
  }
};
</script>
