<template>
  <template v-if="organization">
    <nav class="navbar main-navbar navbar-expand-lg navbar-dark bg-primary">
      <router-link :to="{ name: 'admin'}">
        <a class="navbar-brand">{{ organization.name }}</a>
      </router-link>
      <div class="collapse navbar-collapse" id="organizationNavBar">
        <ul class="navbar-nav mr-auto">
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-students' }">
            Etudiants
          </router-link>
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-professors' }">
            Professeurs
          </router-link>
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-admins' }">
            Administrateurs
          </router-link>
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-trainings' }">
            Formations
          </router-link>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#organizationNavBar" aria-controls="organizationNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav" v-if="currentUser">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ currentUser.email }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <span class="dropdown-item" >{{ currentUser.fullName }} </span>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" @click="onClickDisconnect()">Déconnexion</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <router-view
        style="flex: 1;"
        class="overflow-auto"
        :organization="organization"
    ></router-view>
  </template>
</template>

<script lang="ts">

import {useCurrentOrganization} from "@/hooks/useCurrentOrganization";
import {useCurrentUser} from "@/hooks/useCurrentUser";
import Cookies from "js-cookie";
import {useSetCurrentUser} from "@/hooks/useSetCurrentUser";
import {useRouter} from "vue-router";

export default {
  setup: () => {
    const router = useRouter();

    const organization = useCurrentOrganization();
    const currentUser = useCurrentUser();

    const setCurrentUser = useSetCurrentUser();

    const onClickDisconnect = async () => {
      Cookies.remove(window.env.JWT_COOKIE_HP, { domain: `.${window.env.DOMAIN}`});
      await router.push({ name: "login" });
      setCurrentUser(null);
    }

    return {
      organization,
      currentUser,
      onClickDisconnect
    };
  }
};
</script>