<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Professeurs</h4>
<!--      <router-link class="btn btn-primary" :to="{ name: 'admin-organization-professors' }">Ajouter</router-link>-->
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(professor, index) in professors" :key="index">
        <td>{{ professor.fullName }}</td>
        <td>{{ professor.email }}</td>
        <td class="text-right">
<!--          <router-link  class="btn btn-primary" :to="{ name: 'admin-organization-admin-edit', params: { slug: organization.slug, email: admin.email } }">Modifier</router-link>-->
<!--          <a class="btn btn-danger ml-2" @click="onClickDelete(professor)">Supprimer</a>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import {onMounted, ref} from 'vue'
import {Organization, Props, User} from "@/types";
import adminService from "@/services/adminService";

interface ComponentProps extends Props {
  organization: Organization
}

export default {
  props: {
    organization: Object
  },
  setup: (props: ComponentProps) => {
    const professors = ref<User[]>([]);

    onMounted(async () => {
      try {
        const organizationSlug = props.organization.slug;
        professors.value = await adminService.getOrganizationProfessors(organizationSlug);
      } catch (error) {
        // console.log(error)
      }
    })

    return {
      professors,
    };
  }
};
</script>
