<template>
  <div v-if="teaching" class="bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-teaching-list' }" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">#{{ teaching.id }}</h4>
    </div>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="course">Matière</label>
          <input id="course" class="form-control" type="text" :value="teaching.course.name" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="groupSlug">Groupe</label>
          <input id="groupSlug" class="form-control" type="text" :value="teaching.group.name" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="professorEmail">Professeur</label>
          <input id="professorEmail" class="form-control" type="text" :value="teaching.professor?.fullName" readonly>
        </div>
      </div>
    </form>
  </div>
  <router-view/>
</template>

<script lang="ts">

import {ComponentPublicInstance, RouteLocationNormalized, Teaching} from "@/types";
import {NavigationGuardNext, useRouter} from "vue-router";
import {notFoundRoute} from "@/helpers";
import {ref, watch} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import TeachingForm from "@/components/TeachingForm.vue";

export default {
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug, schoolYear, teachingId } = to.params;
      const teaching = await adminService.getOrganizationTrainingTeaching(organizationSlug, trainingSlug, schoolYear, +teachingId);
      next(vm => (vm as ComponentPublicInstance).teaching = teaching)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const route = useRoute();
    const router = useRouter();
    const teaching = ref<Teaching>();

    const onSubmitForm = async (teachingData: Teaching) => {
      const { organizationSlug, trainingSlug, schoolYear, teachingId } = route.params;
      try {
        teaching.value = await adminService.updateOrganizationTrainingTeaching(organizationSlug, trainingSlug, schoolYear, +teachingId, teachingData);
      } catch (error) {
        // console.log(error);
      }
    }

    watch(() => route.params.schoolYear, schoolYear => {
      if(schoolYear) {
        router.replace({ name: 'organization-training-teaching-list', params: { ...route.params }})
      }
    });

    return {
      teaching,
      onSubmitForm
    };
  }
};
</script>
