<template>
  <div v-if="pathGroup" class="bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-path-group-list' }" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">{{ pathGroup.name }}</h4>
    </div>
    <path-group-form :path-group="pathGroup" @submit-form="onSubmitForm($event)"/>
  </div>
  <div v-if="pathGroup" class="bg-white p-4 flex-grow-1 border-left">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4 class="mb-0">Parcours</h4>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(path, index) in pathGroup.paths" :key="index">
        <td>{{ path.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">

import {ComponentPublicInstance, PathGroup, RouteLocationNormalized} from "@/types";
import {NavigationGuardNext, useRouter} from "vue-router";
import {notFoundRoute} from "@/helpers";
import {ref, watch} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import PathGroupForm from "@/components/PathGroupForm.vue";

export default {
  components: {PathGroupForm},
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug, schoolYear, pathGroupId } = to.params;
      const pathGroup = await adminService.getOrganizationTrainingPathGroup(organizationSlug, trainingSlug, schoolYear, +pathGroupId);
      next(vm => (vm as ComponentPublicInstance).pathGroup = pathGroup)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const route = useRoute();
    const router = useRouter();
    const pathGroup = ref<PathGroup>();

    const onSubmitForm = async (pathGroupData: PathGroup) => {
      const { organizationSlug, trainingSlug, schoolYear, pathGroupId } = route.params;
      try {
        pathGroup.value = await adminService.updateOrganizationTrainingPathGroup(organizationSlug, trainingSlug, schoolYear, +pathGroupId, pathGroupData);
      } catch (error) {
        // console.log(error);
      }
    }

    watch(() => route.params.schoolYear, schoolYear => {
      if(schoolYear) {
        router.replace({ name: 'organization-training-path-group-list', params: { ...route.params }})
      }
    });

    return {
      pathGroup,
      onSubmitForm
    };
  }
};
</script>
