<template>
  <div class="bg-white p-4 flex-grow-1 border-left overflow-auto">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4 class="mb-0">Etudiants</h4>
      <router-link class="btn btn-primary" :to="{ name: 'organization-training-group-student-attach' }">Ajouter</router-link>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(student, index) in students" :key="index">
        <td>{{ student.fullName }}</td>
        <td>{{ student.email }}</td>
        <td class="text-right">
          <button class="btn btn-danger ml-2" @click="onRemoveStudent(student)">Retirer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">

import {User} from "@/types";
import {onMounted, ref} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";

export default {
  setup: () => {
    const route = useRoute();

    const students = ref<User[]>([]);

    onMounted(async () => {
      const { organizationSlug, trainingSlug, schoolYear, groupSlug } = route.params;
      try {
        students.value = await adminService.getOrganizationTrainingGroupStudents(organizationSlug, trainingSlug, schoolYear, groupSlug);
      } catch (e) {
        // console.log(e)
      }
    })

    const onRemoveStudent = async (student: User) => {
      const { organizationSlug, trainingSlug, schoolYear, groupSlug } = route.params;
      try {
        await adminService.detachOrganizationTrainingGroupStudent(organizationSlug, trainingSlug, schoolYear, groupSlug, student.email);
        students.value = students.value.filter(studentFilter => studentFilter.email !== student.email);
      } catch (e) {
        // console.log(e)
      }
    }

    return {
      students,
      onRemoveStudent,
    };
  }
};
</script>
