<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Groupes</h4>
      <router-link class="btn btn-primary mr-3" :to="{ name: 'organization-training-group-create' }">Ajouter</router-link>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Slug</th>
        <th scope="col">Nombre d'étudiant</th>
        <th scope="col">Parcours</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="col">
          <input
              id="name"
              :class="['form-control', { 'is-invalid': form.name.$error }]"
              v-model.lazy="form.name.$model"/>
          <div
              v-for="$error in form.name.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col">
          <input
              id="slug"
              :class="['form-control', { 'is-invalid': form.slug.$error }]"
              v-model.lazy="form.slug.$model"/>
          <div
              v-for="$error in form.slug.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(group, index) in groups" :key="index">
        <td>
          <router-link :to="{ name: 'organization-training-group', params: { groupSlug: group.slug }}">
            {{ group.name }}
          </router-link>
        </td>
        <td>{{ group.slug }}</td>
        <td>{{ group.studentCount }}</td>
        <td>{{ group.path?.name }}</td>
        <td class="text-right">
           <a class="btn btn-danger ml-2" @click="onClickDelete(group)">Supprimer</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-toolbar float-right">
      <page-trim :total-pages="totalPages" :page="currentPage" container-class="btn-group mr-2">
        <template #previous="{ page, disabled }">
          <div class="btn-group mr-2" role="group">
            <button
                @click="getOrganizationTrainingGroups(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Précédent</button>
          </div>
        </template>

        <template #default="{ page, active }">
          <button
              @click="getOrganizationTrainingGroups(page)"
              type="button"
              :class="['btn btn-outline-secondary', { 'active': active }]">{{ page }}
          </button>
        </template>

        <template #ellipsize>
          <button type="button" class="btn btn-outline-secondary" disabled>...</button>
        </template>

        <template #next="{ page, disabled }">
          <div class="btn-group" role="group">
            <button
                @click="getOrganizationTrainingGroups(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Suivant</button>
          </div>
        </template>
      </page-trim>
    </div>
  </div>
</template>

<script lang="ts">
import {onMounted, ref, watch} from 'vue'
import {Group} from "@/types";
import adminService from "@/services/adminService";
import {useRouter} from "vue-router";
import PageTrim from "@/components/PageTrim.vue";
import {useVuelidate} from "@vuelidate/core";
import {useRoute} from "@/hooks/useRoute";

export default {
  components: {PageTrim},
  setup: () => {

    const router = useRouter();
    const route = useRoute();

    const groups = ref<Group[]>([]);

    const currentPage = ref<number>();
    const totalPages = ref<number>(1);

    const name = ref<string>(route.query.name);
    const slug = ref<string>(route.query.slug);

    const form = useVuelidate({
      name: {},
      slug: {}
    }, { name, slug });

    const getOrganizationTrainingGroups = async (page: number, mount = false) => {

      const params = {
        /* filters */
        ...name.value && { name: name.value },
        ...slug.value && { slug: slug.value },
        /* page */
        ...page && page !== 1 && { page: page }
      }

      const { organizationSlug, trainingSlug, schoolYear } = route.params;

      try {
        const { items, pages } = await adminService.getOrganizationTrainingGroups(organizationSlug, trainingSlug, schoolYear, params);

        if (page > pages) {
          await getOrganizationTrainingGroups(pages);
          return;
        }

        groups.value = items;
        totalPages.value = +pages;

        currentPage.value = page

        const newRoute = {...route, query: {page, ...params}};

        if (page === 1) {
          delete newRoute.query.page;
        }

        if (mount) {
          await router.replace(newRoute);
        } else {
          await router.push(newRoute);
        }


      } catch (error) {
        console.log(error)
      }
    }

    onMounted(() => {
      let page = 1
      if(route.query.page && +route.query.page !== 0) {
        page = +route.query.page;
      }
      getOrganizationTrainingGroups(page,true);
    })

    watch([name, slug], () => {
      getOrganizationTrainingGroups(1);
    });

    watch(() => route.params.schoolYear, (schoolYearParam) => {
      if(schoolYearParam) {
        getOrganizationTrainingGroups(1);
      }
    });

    const onClickDelete = async (group: Group) => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        await adminService.deleteOrganizationTrainingGroup(organizationSlug, trainingSlug, schoolYear, group.slug);
        groups.value = groups.value.filter(groupParam => groupParam.slug !== group.slug);
      } catch (error) {
        console.log(error);
      }
    }


    return {
      groups,
      currentPage,
      totalPages,
      onClickDelete,
      getOrganizationTrainingGroups,
      form
    };
  }
};
</script>
