<template>
  <div class="bg-white p-4">
    <div class="row">
      <div class="col">
        <training-form :training="training" @submit-form="onSubmitForm($event)"/>
      </div>
      <div class="col">
        <h4 class="mb-3">Sessions</h4>
        <div class="list-group mb-3" v-if="sessions.length">
          <router-link
              v-for="(session, index) in sessions"
              :key="index"
              :to="{ name: 'admin-organization-training-session', params: { schoolYear: session.schoolYear }}"
              class="list-group-item list-group-item-action">
            {{ session.schoolYear }}
          </router-link>
        </div>
        <form @submit.prevent="submit">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="sector">Année scolaire</label>
              <select
                  id="sector"
                  class="form-control"
                  v-model.trim="schoolYear">
                <option
                    v-for="(schoolYearParam, index) in schoolYears"
                    :key="index"
                    :value="schoolYearParam">
                  {{ schoolYearParam }}
                </option>
              </select>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Ouvrir une session</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Props, Session, Training} from "@/types";
import TrainingForm from "@/components/TrainingForm.vue";
import {ref, watch} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";

interface ComponentProps extends Props {
  training: Training;
}

export default {
  components: { TrainingForm },
  props: {
    training: Object
  },
  setup: (props: ComponentProps) => {

    const route = useRoute();

    const sessions = ref<Session[]>(props.training?.sessions || []);

    const schoolYears = ref<string[]>([]);
    const schoolYear = ref();

    const initSchoolYears = () => {

      const currentYear = (new Date()).getFullYear()
      const sessionSchoolYears = sessions.value.map(session => session.schoolYear)
      schoolYears.value = [-1,0,1,2]
          .map((inc) => `${currentYear + inc}-${currentYear + inc + 1}`)
          .filter(schoolYear => !sessionSchoolYears.includes(schoolYear));

      if(schoolYears.value.length === 0) {
        const maxSessionSchoolYear = parseInt(sessionSchoolYears[sessionSchoolYears.length - 1].split('-')[0]);
        schoolYears.value.push(`${maxSessionSchoolYear + 1}-${maxSessionSchoolYear + 2}`)
      }
      schoolYear.value = schoolYears.value[0];
    }

    watch(() => sessions.value?.length, () => {
      initSchoolYears();
    }, { immediate: true });

    const onSubmitForm = async (trainingData: Training) => {
      try {
        console.log(trainingData)
      } catch (error) {
        // console.log(error);
      }
    }

    const submit = async () => {
      const { organizationSlug, trainingSlug } = route.params;

      try {
        const session = await adminService.createOrganizationTrainingSession(organizationSlug, trainingSlug, schoolYear.value);
        sessions.value.push(session);
      } catch (error) {
        // console.log(error);
      }
    }

    return {
      onSubmitForm,
      submit,
      schoolYears,
      schoolYear,
      sessions
    };
  }
};
</script>
