<template>
  <div class="overflow-auto bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Organisations</h4>
      <router-link class="btn btn-primary" :to="{ name: 'admin-organization-create' }">Ajouter</router-link>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Slug</th>
        <th scope="col">Secteur</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(organization, index) in organizations" :key="index">
        <td>
          <router-link :to="{ name: 'admin-organization', params: { organizationSlug: organization.slug }}">
            {{ organization.name }}
          </router-link>
        </td>
        <td>{{ organization.slug }}</td>
        <td>{{ organization.sector }}</td>
        <td class="text-right">
          <a :href="`https://${organization.slug}.${window.env.DOMAIN}`" class="btn btn-primary">Espace</a>
          <a class="btn btn-danger ml-2" @click="onClickDelete(organization)">Supprimer</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import {onMounted, ref} from 'vue'
import organizationService from "@/services/organizationService";
import OrganizationItem from "@/components/OrganizationItem.vue";
import {Organization} from "@/types";

export default {
  // components: { OrganizationItem },
  setup: () => {

    const organizations = ref<Organization[]>([]);

    const onClickDelete = async (organization: Organization) => {
      try {
        await organizationService.delete(organization.slug);
        organizations.value = organizations.value.filter(organizationData => organizationData.slug !== organization.slug)
      } catch (error) {
        console.log(error);
      }
    }

    onMounted(async () => {
      try {
        organizations.value = await organizationService.getAdminAll();
      } catch (error) {
        // console.log(error)
      }
    })

    return {
      organizations,
      onPressDelete: onClickDelete,
      window
    };
  }
};
</script>
