<template>
  <div class="overflow-auto bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Utilisateurs</h4>
      <a class="btn btn-primary">Ajouter</a>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(user, index) in users" :key="index">
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td class="text-right"></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import {onMounted, ref} from 'vue'
import userService from "@/services/userService";
import {User} from "@/types";

export default {
  setup: () => {

    const users = ref<User[]>([]);

    onMounted(async () => {
      try {
        users.value = await userService.getAdminAll();
      } catch (error) {
        // console.log(error)
      }
    })

    return {
      users
    };
  }
};
</script>
