<template>
  <div class="bg-white p-4 flex-grow-1 border-left">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-course'}" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Démarrer un enseignement</h4>
    </div>
    <teaching-form :course="course" @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">

import {Organization, Teaching, User} from "@/types";

import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import {useRouter} from "vue-router";
import TeachingForm from "@/components/TeachingForm.vue";

export default {
  components: {TeachingForm},
  props: {
    course: Object
  },
  setup: () => {
    const route = useRoute();
    const router = useRouter();

    const onSubmitForm = async ({ data: teachingData, groupSlug }: { data: Teaching, groupSlug: string}) => {
      try {
        const { organizationSlug, trainingSlug, schoolYear, courseId } = route.params;
        try {
          await adminService.createOrganizationTrainingCourseTeaching(organizationSlug, trainingSlug, schoolYear, +courseId, groupSlug, teachingData);
          await router.push({ name: 'organization-training-course' })
        } catch (error) {
          // console.log(error);
        }
      } catch (error) {
        // console.log(error);
      }
    }

    return {
      onSubmitForm
    };
  }
};
</script>
