<template>
  <div v-if="teaching" class="bg-white p-4 flex-grow-1 border-left">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-course'}" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Modifier enseignement</h4>
    </div>
    <div>
      <teaching-form :teaching="teaching" @submit-form="onSubmitForm($event)"/>
    </div>
  </div>
</template>

<script lang="ts">

import {ComponentPublicInstance, RouteLocationNormalized, Teaching} from "@/types";

import {ref} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import {NavigationGuardNext, useRouter} from "vue-router";
import TeachingForm from "@/components/TeachingForm.vue";
import {notFoundRoute} from "@/helpers";

export default {
  components: {TeachingForm},
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug, schoolYear, courseId, groupSlug } = to.params;
      const teaching = await adminService.getOrganizationTrainingCourseTeaching(organizationSlug, trainingSlug, schoolYear, +courseId, groupSlug);
      next(vm => (vm as ComponentPublicInstance).teaching = teaching)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const route = useRoute();
    const router = useRouter();
    const teaching = ref<Teaching>();

    const onSubmitForm = async ({ data: teachingData }:{ data: Teaching }) => {
      try {
        const { organizationSlug, trainingSlug, schoolYear, courseId, groupSlug} = route.params;
        teaching.value = await adminService.updateOrganizationTrainingCourseTeaching(organizationSlug, trainingSlug, schoolYear, +courseId, groupSlug, teachingData)
        router.push({ name: 'organization-training-course'});
      } catch (error) {
        // console.log(error);
      }
    }

    return {
      teaching,
      onSubmitForm
    };
  }
};
</script>
