<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'admin-organization-admins'}" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Ajouter un administrateur</h4>
    </div>
    <organization-user-form @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">

import {useRouter} from "vue-router";
import OrganizationUserForm from "@/components/OrganizationUserForm.vue";
import {Organization, Props, User} from "@/types";
import adminService from "@/services/adminService";

interface ComponentProps extends Props {
  organization: Organization
}

export default {
  components: { OrganizationUserForm },
  props: {
    organization: Object
  },
  setup: (props: ComponentProps) => {
    const router = useRouter();

    const onSubmitForm = async (userData: User) => {
      try {
        await adminService.createOrganizationAdmin(props.organization.slug, userData);
        await router.push({ name: 'admin-organization-admins' })
      } catch (error) {
        // console.log(error);
      }
    }
    return {
      onSubmitForm
    };
  }
};
</script>
