<template>
  <div class="d-flex flex-column" style="flex: 1;" v-if="session">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
      <ul class="navbar-nav mr-auto">
        <a class="navbar-brand">{{ session.training?.name}}</a>
      </ul>
      <ul class="navbar-nav" v-if="sessions?.length">
        <!-- toutes les années depuis la création de la formation-->
        <select id="inputState" class="form-control" v-if="sessions.length > 1" :value="session.schoolYear" @change="onYearChange($event.target.value)">
          <option v-for="(sessionParam, index) in sessions" :key="index" :value="sessionParam.schoolYear">{{ sessionParam.schoolYear }}</option>
        </select>
      </ul>
    </nav>
    <div class="d-flex flex-grow-1 overflow-auto">
      <ul class="list-group list-group-flush border-right bg-white" style="min-width: 200px;">
        <router-link class="list-group-item" active-class="active" :to="{ name: 'student-courses' }">
          Matières
        </router-link>
        <router-link class="list-group-item" active-class="active" :to="{ name: 'student-marks' }">
          Notes
        </router-link>
      </ul>
      <router-view
          style="flex: 1;"
          class="overflow-auto"
      ></router-view>
    </div>
  </div>
</template>

<script lang="ts">

import { ref} from "vue";
import {ComponentPublicInstance, RouteLocationNormalized, Session} from "@/types";
import studentService from "@/services/studentService";
import {useCurrentUser} from "@/hooks/useCurrentUser";
import {NavigationGuardNext, useRoute, useRouter} from "vue-router";
import {notFoundRoute} from "@/helpers";

export default {
  props: {
    sessions: Object
  },
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { schoolYear } = to.params;

      const session = await studentService.getSession(schoolYear);
      next(vm => (vm as ComponentPublicInstance).session = session)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  async beforeRouteUpdate(to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) {
    if (from.params.schoolYear !== to.params.schoolYear) {
      const {schoolYear} = to.params;
      try {
        // @ts-ignore
        this.session = await studentService.getSession(schoolYear);
        next()
      } catch (error) {
        next(notFoundRoute(to))
      }
    } else {
      next()
    }
  },
  setup: () => {

    const currentUser = useCurrentUser();
    const route = useRoute();
    const router = useRouter();

    const session = ref<Session>();

    const onYearChange = (year: string) => {
      router.push({ ...route, params: { ...route.params, schoolYear: year}})
    }

    return {
      currentUser,
      session,
      onYearChange
    }
  }
}

</script>
