<template>
  <student-layout-header :sessions="sessions"/>
  <router-view :sessions="sessions"></router-view>
</template>

<script lang="ts">

import {ref} from "vue";
import {ComponentPublicInstance, RouteLocationNormalized, Session} from "@/types";
import studentService from "@/services/studentService";
import StudentLayoutHeader from "@/components/StudentLayoutHeader.vue";
import {NavigationGuardNext} from "vue-router";
import {notFoundRoute} from "@/helpers";
import store from "@/store";

export default {
  components: {StudentLayoutHeader},
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {

      const sessions = store.getters.studentSessionList || await studentService.getSessions();

      if(!to.params.schoolYear && sessions.length === 1) {
        await store.commit('setStudentSessionList', sessions);
        next({ name: "student-session", replace: true, params: { schoolYear: sessions[0].schoolYear }})
      }

      next(vm => (vm as ComponentPublicInstance).sessions = sessions)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  beforeRouteLeave() {
    store.commit('setStudentSessionList', null);
  },
  setup: () => {

    const sessions = ref<Session[]>([]);

    // watch(sessions, () => {
    //   if(sessions.value.length === 1) {
    //     const session = sessions.value[0];
    //     router.push({ name: "student-session", replace: true, params: { schoolYear: session.schoolYear }})
    //   }
    // });


    return {
      sessions
    }
  }
}

</script>
