<template>
  <div class="home">
    Professor
    <select id="inputState" class="form-control">
      <option value="2016-2017">2016/2017</option>
      <option value="2017-2018">2017/2018</option>
      <option value="2018-2019">2018/2019</option>
      <option value="2019-2020">2019/2020</option>
      <option value="2020-2021" selected>2020/2021</option>
    </select>
    <ul>
      <li>
        Bachelor Informatique - 1ère année
        <ul>
          <li>
            Méthodes de conception et de modélisation de données
            <ul>
              <li><a href="#">Etude & développement - Groupe 1</a></li>
              <li><a href="#">Etude & développement - Groupe 2</a></li>
            </ul>
          </li>
          <li>
            Utilisation des IDE
            <ul>
              <li><a href="#">Etude & développement - Groupe 1</a></li>
              <li><a href="#">Etude & développement - Groupe 2</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        Ingénierie Informatique - 1ère année
        <ul>
          <li>
            Documentation logicielle
            <ul>
              <li><a href="#">Groupe 1</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">

export default {
  setup: () => {
    return {
    }
  }
}

</script>
