<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Etudiants</h4>
      <!--      <router-link class="btn btn-primary" :to="{ name: 'admin-organization-professors' }">Ajouter</router-link>-->
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="col">
          <input
              id="slug"
              :class="['form-control', { 'is-invalid': form.fullName.$error }]"
              v-model.lazy="form.fullName.$model"/>
          <div
              v-for="$error in form.fullName.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col">
          <input
              id="emailAddress"
              type="email"
              :class="['form-control', { 'is-invalid': form.emailAddress.$error }]"
              v-model.lazy="form.emailAddress.$model"/>
          <div
              v-for="$error in form.emailAddress.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(student, index) in students" :key="index">
        <td>{{ student.fullName }}</td>
        <td>{{ student.email }}</td>
        <td class="text-right">
          <!--          <router-link  class="btn btn-primary" :to="{ name: 'admin-organization-admin-edit', params: { slug: organization.slug, email: admin.email } }">Modifier</router-link>-->
          <!--          <a class="btn btn-danger ml-2" @click="onClickDelete(professor)">Supprimer</a>-->
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-toolbar float-right">
      <page-trim :total-pages="totalPages" :page="currentPage" container-class="btn-group mr-2">
        <template #previous="{ page, disabled }">
          <div class="btn-group mr-2" role="group">
            <button
                @click="getOrganizationStudents(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Précédent</button>
          </div>
        </template>

        <template #default="{ page, active }">
          <button
              @click="getOrganizationStudents(page)"
              type="button"
              :class="['btn btn-outline-secondary', { 'active': active }]">{{ page }}
          </button>
        </template>

        <template #ellipsize>
          <button type="button" class="btn btn-outline-secondary" disabled>...</button>
        </template>

        <template #next="{ page, disabled }">
          <div class="btn-group" role="group">
            <button
                @click="getOrganizationStudents(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Suivant</button>
          </div>
        </template>
      </page-trim>
    </div>
  </div>
</template>

<script lang="ts">
import {onMounted, ref, watch} from 'vue'
import {Organization, Props, Route, User} from "@/types";
import adminService from "@/services/adminService";
import {useRoute, useRouter} from "vue-router";
import PageTrim from "@/components/PageTrim.vue";
import {useVuelidate} from "@vuelidate/core";

interface ComponentProps extends Props {
  organization: Organization
}

export default {
  components: {PageTrim},
  props: {
    organization: Object
  },
  setup: (props: ComponentProps) => {

    const router = useRouter();
    const route = useRoute() as Route;

    const students = ref<User[]>([]);

    const currentPage = ref<number>();
    const totalPages = ref<number>(1);


    const fullName = ref<string>(route.query.fullName);
    const emailAddress = ref<string>(route.query.email);

    const form = useVuelidate({
      fullName: {},
      emailAddress: {}
    }, { fullName, emailAddress });

    const getOrganizationStudents = async (page: number, mount = false) => {

      const filterParams = {
        ...fullName.value && { fullName: fullName.value },
        ...emailAddress.value && { email: emailAddress.value },
      }

      try {
        const organizationSlug = props.organization.slug;
        const {items, pages} = await adminService.getOrganizationStudents(organizationSlug, {...filterParams, page: page.toString()});

        if (page > pages) {
          await getOrganizationStudents(pages);
          return;
        }

        students.value = items;
        totalPages.value = pages;

        currentPage.value = page

        const newRoute = {...route, query: {page, ...filterParams}};

        if (page === 1) {
          delete newRoute.query.page;
        }

        if (mount) {
          await router.replace(newRoute);
        } else {
          await router.push(newRoute);
        }


      } catch (error) {
        // console.log(error)
      }
    }

    onMounted(() => {
      let page = 1
      if(route.query.page && +route.query.page !== 0) {
        page = +route.query.page;
      }
      getOrganizationStudents(page,true);
    })

    watch([fullName, emailAddress], () => {
      getOrganizationStudents(1);
    });


    return {
      students,
      currentPage,
      totalPages,
      getOrganizationStudents,
      form
    };
  }
};
</script>
