<template>
  <router-view/>
</template>

<style lang="scss">

$blue: #1a73e8;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~vue-select/src/scss/vue-select.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

html, body {
  background: #F5F7F9;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.overflow-auto {
  overflow-y: auto;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

nav.main-navbar {
  box-shadow: 0 3px 4px 0 #00000033, 0 3px 3px -2px #00000024, 0 1px 8px 0 #0000001f;
  z-index: 10;
}

</style>
