<template>
  <div v-if="course" class="bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-course-list' }" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">{{ course.name }}</h4>
    </div>
    <course-form :course="course" @submit-form="onSubmitForm($event)"/>
  </div>
  <router-view :course="course"/>
</template>

<script lang="ts">

import {ComponentPublicInstance, Course, RouteLocationNormalized} from "@/types";
import {NavigationGuardNext, useRouter} from "vue-router";
import {notFoundRoute} from "@/helpers";
import {ref, watch} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import CourseForm from "@/components/CourseForm.vue";

export default {
  components: {CourseForm},
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug, schoolYear, courseId } = to.params;
      const course = await adminService.getOrganizationTrainingCourse(organizationSlug, trainingSlug, schoolYear, +courseId);
      next(vm => (vm as ComponentPublicInstance).course = course)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const route = useRoute();
    const router = useRouter();
    const course = ref<Course>();

    const onSubmitForm = async (courseData: Course) => {
      const { organizationSlug, trainingSlug, schoolYear, courseId } = route.params;
      try {
        course.value = await adminService.updateOrganizationTrainingCourse(organizationSlug, trainingSlug, schoolYear, +courseId, courseData);
      } catch (error) {
        // console.log(error);
      }
    }

    watch(() => route.params.schoolYear, schoolYear => {
      if(schoolYear) {
        router.replace({ name: 'organization-training-course-list', params: { ...route.params }})
      }
    });

    return {
      course,
      onSubmitForm
    };
  }
};
</script>
