<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nom</label>
        <input
            id="name"
            :class="['form-control', { 'is-invalid': form.name.$error }]"
            v-model.trim="form.name.$model" />
        <div
            v-for="$error in form.name.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="slug">Slug</label>
        <input
            id="slug"
            :class="['form-control', { 'is-invalid': form.slug.$error }]"
            v-model.trim="form.slug.$model"/>
        <div
            v-for="$error in form.slug.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="sector">Secteur</label>
        <select
            id="sector"
            :class="['form-control', { 'is-invalid': form.sector.$error }]"
            v-model.trim="form.sector.$model">
          <option value="private">Privé</option>
          <option value="public">Public</option>
        </select>
        <div
            v-for="$error in form.sector.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>

<!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ organization ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required} from "@vuelidate/validators";
import {Organization, Props, SetupContext} from "@/types";

interface ComponentProps extends Props {
  organization: Organization|null;
}

export default {
  props: {
    organization: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const name = ref();
    const slug = ref();
    const sector = ref();

    watch(() => props.organization, (organization) => {
      name.value = organization?.name;
      slug.value = organization?.slug;
      sector.value = organization?.sector || "public";
    }, { immediate: true });

    const form = useVuelidate({
      name: { required },
      slug: { required },
      sector: { required }
    }, { name, slug, sector });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const organizationData = {
            name: name.value,
            slug: slug.value,
            sector: sector.value
          };
          console.log("submit");
          emit('submit-form', organizationData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      name,
      slug,
      sector,
      form,
      submit
    };
  }
};
</script>
