<template>
  <form @submit.prevent="submit" v-if="session">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="unitLevel">Niveau des matières</label>
        <select
            id="unitLevel"
            :class="['form-control', { 'is-invalid': form.unitLevel.$error }]"
            v-model="form.unitLevel.$model">
          <option :value="1">Parcours</option>
          <option :value="2" disabled>Unités d'enseignements</option>
          <option :value="3" disabled>Groupements de matières</option>
        </select>
        <div
            v-for="$error in form.unitLevel.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">Modifier</button>
  </form>
</template>

<script lang="ts">
import {ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required} from "@vuelidate/validators";
import { Props, Session, SetupContext} from "@/types";

interface ComponentProps extends Props {
  session: Session;
}

export default {
  props: {
    session: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const unitLevel = ref<number>(1);

    watch(() => props.session, (session) => {
      if(session) {
        unitLevel.value = session.unitLevel;
      }
    }, {
      immediate: true
    });

    const form = useVuelidate({
      unitLevel: { required },
    }, {
      unitLevel
    });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const sessionData = {
            unitLevel: unitLevel.value,
          };
          emit('submit-form', sessionData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      form,
      submit
    };
  }
};
</script>
