<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nom</label>
        <input
            id="name"
            :class="['form-control', { 'is-invalid': form.name.$error }]"
            v-model.trim="form.name.$model" />
        <div
            v-for="$error in form.name.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ test ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required} from "@vuelidate/validators";
import {Props, SetupContext, Test} from "@/types";

interface ComponentProps extends Props {
  test: Test;
}

export default {
  props: {
    test: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const name = ref<string>();

    watch(() => props.test, (test) => {
      name.value = test?.name;
    }, { immediate: true });

    const form = useVuelidate({
      name: { required },
    }, { name });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const testData = {
            name: name.value,
          };
          emit('submit-form', testData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      form,
      submit
    };
  }
};
</script>
