<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nom</label>
        <input
            id="name"
            :class="['form-control', { 'is-invalid': form.name.$error }]"
            v-model.trim="form.name.$model" />
        <div
            v-for="$error in form.name.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
      <div class="form-group col-md-6">
        <label for="path">Parcours</label>
        <select
            id="path"
            :class="['form-control', { 'is-invalid': form.unitId.$error }]"
            v-model="form.unitId.$model">
          <option :value="null">Aucun</option>
          <option v-for="(path, index) in paths" :value="path.id" :key="index">
            {{ path.name }}
          </option>
        </select>
        <div
            v-for="$error in form.unitId.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ course ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {ref, watch, onMounted} from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required} from "@vuelidate/validators";
import {Course, Path, Props, SetupContext} from "@/types";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";

interface ComponentProps extends Props {
  course: Course;
}

export default {
  props: {
    course: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const route = useRoute();

    const paths = ref<Path[]>([]);

    const name = ref<string>();
    const unitId = ref<number|null>()

    const getOrganizationTrainingPathList = async () => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        const { items } = await adminService.getOrganizationTrainingPathList(organizationSlug, trainingSlug, schoolYear, { limit: 100 });
        paths.value = items;
      } catch (e) {
        // console.log(e)
      }
    }

    onMounted(async () => {
      await getOrganizationTrainingPathList()
    })

    watch(() => route.params.schoolYear, async schoolYear => {
      if(schoolYear) {
        await getOrganizationTrainingPathList()
        unitId.value = null;
      }
    });

    watch(() => props.course, (course) => {
      name.value = course?.name;
      unitId.value = course?.path?.id || null;
    }, {
      immediate: true
    });

    const form = useVuelidate({
      name: { required },
      unitId: {}
    }, { name, unitId });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const courseData = {
            name: name.value,
            unit: unitId.value,
          };
          emit('submit-form', courseData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      form,
      paths,
      submit
    };
  }
};
</script>
