<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6" v-if="mark?.student">
        <label for="studentName">Etudiant</label>
        <input id="studentName" class="form-control" type="text" :value="mark.student?.fullName" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="value">Note</label>
        <input
            id="value"
            type="number"
            step="0.1"
            min="0"
            :class="['form-control', { 'is-invalid': form.markValue.$error }]"
            v-model.trim="form.markValue.$model" />
        <div
            v-for="$error in form.markValue.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ mark ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import {Mark, Props, SetupContext} from "@/types";

interface ComponentProps extends Props {
  mark: Mark;
}

export default {
  props: {
    mark: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const markValue = ref<number>();

    watch(() => props.mark, (mark) => {
      markValue.value = mark?.value;
    }, { immediate: true });

    const form = useVuelidate({
      markValue: {},
    }, { markValue });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const markData = {
            value: parseFloat(markValue.value as any),
          };
          emit('submit-form', markData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      form,
      submit
    };
  }
};
</script>
