<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">Prénom</label>
        <input
            id="firstName"
            :class="['form-control', { 'is-invalid': form.firstName.$error }]"
            v-model.trim="form.firstName.$model" />
        <div
            v-for="$error in form.firstName.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Nom</label>
        <input
            id="lastName"
            :class="['form-control', { 'is-invalid': form.lastName.$error }]"
            v-model.trim="form.lastName.$model" />
        <div
            v-for="$error in form.lastName.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="emailAddress">Email</label>
      <input
          id="emailAddress"
          :class="['form-control', { 'is-invalid': form.emailAddress.$error }]"
          v-model.trim="form.emailAddress.$model"/>
      <div
          v-for="$error in form.emailAddress.$errors"
          :key="$error.$validator"
          class="invalid-feedback">{{ $error.$message }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="plainPassword">Mot de passe</label>
        <input
            id="plainPassword"
            :class="['form-control', { 'is-invalid': form.plainPassword.$error }]"
            v-model.trim="form.plainPassword.$model" />
        <div
            v-for="$error in form.plainPassword.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ user ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import { ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import {email, required} from "@vuelidate/validators";
import {Props, SetupContext, User} from "@/types";

interface ComponentProps extends Props {
  user: User;
}

export default {
  props: {
    user: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const firstName = ref();
    const lastName = ref();
    const emailAddress = ref();
    const plainPassword = ref();

    watch(() => props.user, user => {
      firstName.value = user?.firstName;
      lastName.value = user?.lastName;
      emailAddress.value = user?.email;
      plainPassword.value = null;
    },{ immediate: true });

    const form = useVuelidate({
      firstName: { required },
      lastName: { required },
      emailAddress: { required, email },
      plainPassword: {}
    }, { firstName, lastName, emailAddress, plainPassword });


    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const userData = {
            firstName: firstName.value,
            lastName: lastName.value,
            email: emailAddress.value,
            ...plainPassword.value && { plainPassword: plainPassword.value }
          };
          emit('submit-form', userData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      form,
      submit
    };
  }
};
</script>
