<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="groupSlug">Groupe</label>
        <select
            :disabled="teaching?.group"
            id="groupSlug"
            :class="['form-control', { 'is-invalid': form.groupSlug.$error }]"
            v-model="form.groupSlug.$model">
          <option v-for="(group, index) in groupList" :value="group.slug" :key="index">
            {{ group.name }}
          </option>
          <option v-if="teaching?.group" :value="teaching?.group.slug" :key="teaching?.group.slug">
            {{ teaching?.group.name }}
          </option>
        </select>
        <div
            v-for="$error in form.groupSlug.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="professorEmail">Professeur</label>
        <select
            id="professorEmail"
            :class="['form-control', { 'is-invalid': form.professorEmail.$error }]"
            v-model="form.professorEmail.$model">
          <option :value="null">Aucun</option>
          <option v-for="(professor, index) in professorList" :value="professor.email" :key="index">
            {{ professor.fullName }}
          </option>
        </select>
        <div
            v-for="$error in form.professorEmail.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ teaching ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {ref, watch, onMounted} from "vue";
import { useVuelidate } from "@vuelidate/core";
import {Course, Group, Props, SetupContext, Teaching, User} from "@/types";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import {required} from "@vuelidate/validators";

interface ComponentProps extends Props {
  teaching: Teaching;
  course: Course
}

export default {
  props: {
    teaching: Object,
    course: Object,
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const route = useRoute();

    const groupList = ref<Group[]>([]);
    const professorList = ref<User[]>([]);

    const groupSlug = ref<string>()
    const professorEmail = ref<string|null>()

    onMounted(async () => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;

      const courseId = props.teaching?.course?.id || +props.course?.id;
      try {
        const [professorListData, groupListData] = await Promise.all([
          adminService.getOrganizationProfessors(organizationSlug),
          adminService.getOrganizationTrainingCourseAvailableGroupList(organizationSlug, trainingSlug, schoolYear, +courseId),
        ])

        professorList.value = professorListData;
        groupList.value = groupListData;
      } catch (e) {
        // console.log(e)
      }
    })

    watch(() => props.teaching, (teaching) => {
      professorEmail.value = teaching?.professor?.email || null;
      groupSlug.value = teaching?.group?.slug;
    }, { immediate: true });

    const form = useVuelidate({
      professorEmail: {},
      groupSlug: { required },
    }, { professorEmail, groupSlug});

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const teachingData = {
            professor: professorEmail.value,
          };
          emit('submit-form', { groupSlug: groupSlug.value, data: teachingData })
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      form,
      professorList,
      groupList,
      submit
    };
  }
};
</script>
