<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nom</label>
        <input
            id="name"
            :class="['form-control', { 'is-invalid': form.name.$error }]"
            v-model.trim="form.name.$model" />
        <div
            v-for="$error in form.name.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="slug">Slug</label>
        <input
            id="slug"
            :class="['form-control', { 'is-invalid': form.slug.$error }]"
            v-model.trim="form.slug.$model"/>
        <div
            v-for="$error in form.slug.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
<!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ training ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required} from "@vuelidate/validators";
import { Props, SetupContext, Training} from "@/types";

interface ComponentProps extends Props {
  training: Training|null;
}

export default {
  props: {
    training: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const name = ref();
    const slug = ref();

    watch(() => props.training, (training) => {
      name.value = training?.name;
      slug.value = training?.slug;
    }, { immediate: true });

    const form = useVuelidate({
      name: { required },
      slug: { required },
    }, { name, slug });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const trainingData = {
            name: name.value,
            slug: slug.value,
          };
          emit('submit-form', trainingData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      name,
      slug,
      form,
      submit
    };
  }
};
</script>
